/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*Variaveis de cor*/

:root{
    --primary-color: #c6c3c3;
    --second-color: #ffffff;
    --black-color:black;
}

/*Reutilizavel CSS*/

a{
    text-decoration: none;
    color: var(--second-color);
}

/*Principal*/

.formulario{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    display: flex;
    flex-direction: column;

    width: 450px;
    backdrop-filter: blur(25px);
    background: transparent;
    border: solid 2px;
    border-color: white;
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--second-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

.login-header{
    position: absolute;
    top: 0;
    background-color: var(--primary-color);
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-header h1{
    font-size: medium;
    color: var(--black-color);
}

.login-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    border-bottom-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 var(--primary-color);
}

.login-header::after{
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    border-bottom-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 var(--primary-color);
}

body{
    background-image: url("https://i.pinimg.com/1200x/1c/35/5a/1c355a72ace613f0134ac9d551397272.jpg");
    background-repeat: repeat;
    background-size: cover;
}

.input_box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input_field{
    width: 100%;
    height: 100%;
    font-size: 16px;
    background: transparent;
    color: var(--second-color);
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
}

#nome{
    margin-bottom: 10px;
}

